.Search {
    display: flex;
    justify-content: center;
}

form {
    margin-right: 2rem;
}

input {
    min-width: 5rem;
}

select{
    margin: 0 0.5em;
    max-height: 1.5rem;
}

span{
    font-size: small;
}

@media only screen 
    and (max-width: 500px) 
    and (max-height: 900px) {
        .Search {
            display: block;
        }
    }